.Toastify__toast-container {
  padding: 16px;
  top: 64px;
  right: 0;
}

.Toastify__toast {
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 500;
}

.Toastify__toast--success {
  background: var(--color-primary);
  color: var(--color-white);
}

.Toastify__toast--error {
  background: var(--color-danger);
  color: var(--color-white);
}

.Toastify__toast--success .Toastify__close-button,
.Toastify__toast--error .Toastify__close-button {
  color: var(--color-white);
  opacity: 1;
}

.Toastify__toast--info {
  background: var(--color-white);
  color: var(--color-gray500);
}

.Toastify__toast--info .Toastify__close-button {
  color: var(--color-gray500);
  opacity: 1;
}

.Toastify__toast--success .Toastify__progress-bar {
  background: var(--color-white);
}

.Toastify__toast--error .Toastify__progress-bar {
  background: var(--color-white);
}

.Toastify__toast--info .Toastify__progress-bar {
  background: var(--color-gray500);
}
