@import 'tailwindcss';

@layer {
  body {
    font-family: 'Pretendard', sans-serif;
    color: var(--color-text-primary);
  }
  button {
    cursor: pointer;
  }
}

@theme {
  --color-primary: #10b981;
  --color-secondary: #34d399;
  --color-tertiary: #a3e635;
  --color-gradient: linear-gradient(90deg, rgba(16, 185, 129, 1) 0%, rgba(163, 230, 53, 1) 100%);

  --color-purple: #a855f7;
  --color-blue: #3b82f6;
  --color-cyan: #06b6d4;
  --color-pink: #ec4899;
  --color-rose: #f43f5e;
  --color-orange: #f97316;
  --color-yellow: #eab308;
  --color-white: #ffffff;

  --color-bg100: #334155;
  --color-bg200: #1e293b;
  --color-bg300: #0f172a;

  --color-primary-hover: #059669;
  --color-primary-pressed: #047857;

  --color-border: rgba(248, 250, 252, 0.5);

  --color-gray100: #f8fafc;
  --color-gray200: #e2e8f0;
  --color-gray300: #cbd5e1;
  --color-gray400: #94a3b8;
  --color-gray500: #64748b;

  --color-danger: #dc2626;
}

@utility text-md40 {
  @layer components {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
  }
}
@utility text-bold32 {
  @layer components {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
  }
}
@utility text-semi32 {
  @layer components {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
  }
}
@utility text-bold24 {
  @layer components {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }
}
@utility text-semi24 {
  @layer components {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }
}
@utility text-md24 {
  @layer components {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
}

@utility text-rg24 {
  @layer components {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }
}
@utility text-bold20 {
  @layer components {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}
@utility text-semi20 {
  @layer components {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
}
@utility text-md20 {
  @layer components {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
}
@utility text-rg20 {
  @layer components {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
}
@utility text-bold18 {
  @layer components {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
}
@utility text-semi18 {
  @layer components {
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
  }
}
@utility text-md18 {
  @layer components {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
  }
}
@utility text-rg18 {
  @layer components {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
}
@utility text-bold16 {
  @layer components {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }
}
@utility text-semi16 {
  @layer components {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
  }
}
@utility text-md16 {
  @layer components {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }
}
@utility text-rg16 {
  @layer components {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
}

@utility text-bold14 {
  @layer components {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
  }
}
@utility text-semi14 {
  @layer components {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
  }
}
@utility text-md14 {
  @layer components {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
}
@utility text-rg14 {
  @layer components {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}
@utility text-semi13 {
  @layer components {
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
  }
}
@utility text-md13 {
  @layer components {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }
}
@utility text-semi12 {
  @layer components {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
  }
}
@utility text-md12 {
  @layer components {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }
}
@utility text-rg12 {
  @layer components {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }
}
